@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Onest Variable', sans-serif;
}

.logo-size {
    width: 350px; 
    min-width: 270px;
    height: 100px; 
    object-fit: contain;
  }

.logo-size-2 {
    width: 260px; 
    object-fit: contain;
    position: relative;
    left: -25px;
    top: -20px;
  }
  

  button.active {
    background-color: #e53e3e;
    color: white;
    border-color: #c53030;
  }
  
  button.inactive {
    background-color: #edf2f7;
    color: #4a5568;
    border-color: #cbd5e0;
  }
  

